Flask
Flask-WTF
WTForms-JSON
Jinja2
Flask-DebugToolbar
psycopg2-binary
bcrypt
Flask-SQLAlchemy
Flask-Migrate
flask-cors
pyyaml
pyjwt
python-dotenv
debugpy
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-sqlalchemy
